{% extends "layouts/base.html" %} 
{% block titre %}Nos catégories{% endblock %}
{% block contenu %}
<h1>Liste de nos catégories</h1>
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{message.tags}}">
            {{message}}
        </div>
    {% endfor %}
{% endif %}
<a class="btn btn-success" 
href="{% url "categorie.create" %}">Ajouter une nouvelle catégorie</a>
<table class="table table-striped table-hover">
  <thead>
    <tr>
        <th>Libellé</th>
        <th>Actions</th>
    </tr>
  </thead>
  <tbody>
        {% if categorie %}
            {% for cat in categorie %}
                <tr>

                    <td>{{cat.libelle}}<td>
                    <td>
                        <a class="btn btn-success" href="{% url 'categorie.show' cat.id %}">Voir<a>
                        <a class="btn btn-warning" href="{% url "categorie.update" cat.id %}">Modifier<a>
                        
                            <a 
                            onclick="return confirmDelete();"
                            href="{% url "categorie.delete" cat.id %}"
                                class="btn btn-danger" 
                                >
                            Supprimer
                            <a>
                        <script>
                            function confirmDelete(){
                                return confirm("Êtes-vous vraiment sur de supprimer la catégorie '{{cat.libelle}}'")
                            }
                        </script>
                    <td>
                </tr>
                
            {% endfor %}
        {% else %}
        <tr>Aucune catégorie pour le moment.</tr>
        {% endif %}
  </tbody>
</table>
{% endblock %}
