{% extends "layouts/base.html" %} 
{% block titre %}Modifier catégorie  {% endblock%} {% block contenu %}
<h1 class="h1">Modifier la catégorie "{{categorie.libelle}}" </h1>
<form method="post">
  {% csrf_token %}

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">
      {{form.libelle.label_tag}}
    </label>
    {{form.libelle}}
    <span> {{form.libelle.errors}} </span>
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">
    {{form.description.label_tag}}  
    </label>
    {{form.description}}
    <span> {{form.description.errors}} </span>
    
  </div>
  <div class="mb-3">
    <button type="submit" class="btn btn-primary">Enregistrer</button>
  </div>
</form>
{% endblock %}
